*{
    margin: 0;
    padding: 0;
}

.header{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.photo{
    width: 1fr;
    height: 735px;
    background-color: rgba(32, 213, 131, 0.404);
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#scn{
    height: 300px;
    
}